<mat-form-field>
  <mat-label>Kayıtlı Faturalar</mat-label>
  <input matInput readonly="true" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" >

    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell showColumn showInput="none" *matHeaderCellDef > ID </th>
      <td mat-cell *matCellDef="let row"> {{row.ID}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="InvoiceId">
      <th mat-header-cell *matHeaderCellDef > Fatura Numarası </th>
      <td mat-cell *matCellDef="let row"> {{row.InvoiceHeader.InvoiceId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="SenderTitle">
      <th mat-header-cell *matHeaderCellDef > Gönderici Ünvan </th>
      <td mat-cell *matCellDef="let row"> {{row.InvoiceHeader.SenderTitle}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="ReceiverTitle">
      <th mat-header-cell *matHeaderCellDef > Alıcı Ünvan </th>
      <td mat-cell *matCellDef="let row"> {{row.InvoiceHeader.ReceiverTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef > Fatura Tarihi </th>
      <td mat-cell *matCellDef="let row"> {{row.InvoiceHeader.Date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->

  </table>


</div>

